{% macro listTabGroup(groupCompanies) %}
    {% if groupCompanies|length > 0 %}
        <!-- Hexagons -->
        <div class="hexagons bg-yes">

            <!-- trianglify pattern container -->
            <div class="pattern pattern--hidden"></div>
            <!-- cards -->

            <ul>
                {% for g in groupCompanies %}
                    <li class="revealOnScroll" data-animation="fadeIn">
                        <div class="wrap">
                            <div class="hexagon card" id="{{ g.slug }}" data-href="{{ path('frontend_group_company_one', {slug: g.slug}) }}">
                                <img src="{{ image(g.webPath).zoomCrop(700, 500) }}" alt=""/>
                                <div class="card__container card__container_radius card__container--closed myScrollCompany">
                                    <div class="wrap-svg">
                                        <svg class="card__image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 500" preserveAspectRatio="xMidYMid slice">
                                            <defs>
                                                <clipPath id="clipPath1">
                                                    <polygon class="clip" points="0,560 0,0 1920,0 1920,560"></polygon>
                                                </clipPath>
                                            </defs>
                                            <image clip-path="url(#clipPath1)" width="1920" height="560" xlink:href="{{ image(g.webPath).zoomCrop(1920, 560) }}"></image>
                                        </svg>
                                        <div class="submenu">
                                            <ul>
                                                {% for group in groupCompanies %}
                                                    <li>
                                                        <a href="#{{ group.slug }}" {% if g.id == group.id %}class="current"{% endif %}>{{ group.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="wrap-h1 myScrollCompany">
                                            <h1>{{ g.title }}</h1>
                                            {{ g.text|raw }}
                                        </div>
                                        <div class="nv-left"><div class="inner"></div></div>
                                        <div class="nv-right"><div class="inner"></div></div>
                                    </div>
                                    <div class="card__content">
                                        <i class="card__btn-close fa fa-times"></i>
                                        <div class="wrap-companies">
                                            <div class="companies">
                                                {% for company in g.companies %}
                                                    <div class="wrap-company{% if g.companies|length == 1 %} wrap-company-full{% endif %}">
                                                        <div class="company">
                                                            {#<div class="image">#}
                                                                {#<img src="{{ image(company.webPath).zoomCrop(500, 500) }}" alt=""/>#}
                                                            {#</div>#}
                                                            <div class="info">
                                                                <h2>{{ company.title }}</h2>
                                                                {{ company.text|raw }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mediaOverlayIcon"></div>
                            </div>
                            <div class="info">
                                <h5>{{ g.title }}</h5>
                                <p>{{ g.description }}</p>
                                {#<a href="#"><span>подробнее</span></a>#}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- end Hexagons -->
    {% endif %}
{% endmacro %}