{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listTab %}
{% from 'SiteMainBundle:Frontend/GroupCompany:macros.html.twig' import listTabGroup %}
{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listSidebarNews %}

{% block title %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}{{ mediaOne.metaTitle }}{% elseif app.request.attributes.get('_route') == 'frontend_news_one' %}{{ newsOne.metaTitle }}{% elseif app.request.attributes.get('_route') == 'frontend_comments_one' %}{{ commentsOne.metaTitle }}{% else %}{{ page.metaTitle }}{% endif %}{% endblock %}
{% block meta_description %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}{{ mediaOne.metaDescription }}{% elseif app.request.attributes.get('_route') == 'frontend_news_one' %}{{ newsOne.metaDescription }}{% elseif app.request.attributes.get('_route') == 'frontend_comments_one' %}{{ commentsOne.metaDescription }}{% else %}{{ page.metaDescription }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}{{ mediaOne.metaKeywords }}{% elseif app.request.attributes.get('_route') == 'frontend_news_one' %}{{ newsOne.metaKeywords }}{% elseif app.request.attributes.get('_route') == 'frontend_comments_one' %}{{ commentsOne.metaDescription }}{% else %}{{ page.metaKeywords }}{% endif %}{% endblock %}
{% block og_title %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}{{ mediaOne.title }}{% elseif app.request.attributes.get('_route') == 'frontend_news_one' %}{{ newsOne.metaTitle }}{% elseif app.request.attributes.get('_route') == 'frontend_comments_one' %}{{ commentsOne.metaTitle }}{% else %}{{ page.metaTitle }}{% endif %}{% endblock %}
{% block og_description %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}{{ mediaOne.metaDescription }}{% else %}{{ page.metaDescription }}{% endif %}{% endblock %}
{% block og_image %}{% if app.request.attributes.get('_route') == 'frontend_news_one' %}http://{{ app.request.host }}{{ image(newsOne.webPath).zoomCrop(300, 300) }}{% endif %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}http://{{ app.request.host }}{{ image(mediaOne.webPath).zoomCrop(300, 300) }}{% endif %}{% if app.request.attributes.get('_route') == 'frontend_comments_one' %}http://{{ app.request.host }}{{ image(commentsOne.webPath).zoomCrop(300, 300) }}{% endif %}{% endblock %}
{% block image_src %}{% if app.request.attributes.get('_route') == 'frontend_news_one' %}http://{{ app.request.host }}{{ image(newsOne.webPath).zoomCrop(300, 300) }}{% endif %}{% if app.request.attributes.get('_route') == 'frontend_media_one' %}http://{{ app.request.host }}{{ image(mediaOne.webPath).zoomCrop(300, 300) }}{% endif %}{% if app.request.attributes.get('_route') == 'frontend_comments_one' %}http://{{ app.request.host }}{{ image(commentsOne.webPath).zoomCrop(300, 300) }}{% endif %}{% endblock %}

{% block content %}
    <!-- Main -->
    <section class="main">
        <div class="CursorAnimateRotate">
            <div class="slider">
                {% for slider in socialActivities %}
                    <div {% if slider.webPath|length > 0 %}style="background: url('{{ asset(slider.webPath) }}') center center no-repeat; background-size: cover;"{% endif %} {% if slider.video|length > 0 %}data-video='{{ asset('uploads/background/' ~ slider.video) }}' class="video"{% endif %}>
                        <div class="wrap-sticker">
                            <div class="sticker revealOnScroll" data-animation="fadeInRight">
                                <div class="wrap">
                                    {{ slider.text|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="cursor"><div class="cursorIcon"></div></div>
        </div>

        <a href="#posts" class="icon-arrow revealOnScroll" data-animation="fadeInUp"></a>
    </section>
    <!-- end Main -->

    <!-- Text -->
    <section class="text">
        <div class="content">
            {{ page.text|raw }}
        </div>
    </section>
    <!-- end Text -->
{% endblock %}