{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sitemain/backend/js/uploadify/uploadify.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content -%}
    <h1>{{ 'backend.gallery.h1_edit'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    {{ form_start(edit_form, { 'style': 'horizontal' , attr: {novalidate: 'novalidate'} }) }}
    {{ form_row(edit_form.date) }}
    {% if entity.galleryElementPhotos|length > 0 %}
        <div class="photos">
                {% for photo in entity.galleryElementPhotos %}
                    <div class="item">
                        <div class="inner-item">
                            <div><input name="photos[]" type="checkbox" value="{{ photo.id }}"/></div>
                            <div><a href="{{ asset(photo.link) }}" target="_blank"><img src="{{ image(photo.link).zoomCrop(200, 200) }}" alt="{{ image(photo.link).zoomCrop(200, 200) }}"/></a></div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    {% endif %}
    {{ form_row(edit_form.gallery) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_media_index') }}">
                {{ 'backend.media.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitemain/backend/js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sitemain/backend/js/init_uploadify.js') }}"></script>
{% endblock %}