{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content -%}
    <h1>{{ 'backend.gallery.h1_edit'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    {{ form_start(edit_form, { 'style': 'horizontal' , attr: {novalidate: 'novalidate'} }) }}
    {% block form %}
    {% endblock %}
    {{ form_end(edit_form) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_gallery_index') }}">
                {{ 'backend.gallery.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}