{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.gallery.h1_list'|trans({}, 'menu') }}</h1>

    {% include 'SiteMainBundle:Backend/Gallery:filter.html.twig' %}

    {% if entities|length > 0 %}
        <table class="records_list table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>{{ 'backend.gallery.date'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.actions'|trans({}, 'menu') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {% if entity.getGalleryElementPhotos|length > 0 %}
                            <img src="{{ image(entity.getGalleryElementPhotos[0].getLink).cropResize(50) }}" width="50px" alt=""/>
                        {% else %}
                            <img src="{{ image(entity.getGalleryElementVideo.getPreviewImageUrl).cropResize(50) }}" width="50px" alt=""/>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.getGalleryElementPhotos|length > 0 %}
                            Фото
                        {% else %}
                            Видео
                        {% endif %}
                    </td>
                    <td>{{ entity.date|date('d.m.Y') }}</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li>

                                {% if entity.getGalleryElementPhotos|length > 0 %}
                                    {% set type = 'photos' %}
                                {% else %}
                                    {% set type = 'video' %}
                                {% endif %}

                                <a href="{{ path('backend_gallery_edit', { 'id': entity.id, 'type': type }) }}">{{ 'backend.edit'|trans({}, 'menu') }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(entities) }}
    {% else %}
        <div class="alert alert-warning">
            {{ 'backend.gallery.empty_list'|trans({}, 'menu') }}
        </div>
    {% endif %}

    <ul class="nav nav-pills">
        <li class="active">
            <a href="{{ path('backend_gallery_new', {type: 'video'}) }}">
                {{ 'backend.gallery.create_video'|trans({}, 'menu') }}
            </a>
        </li>
        <li class="active">
            <a href="{{ path('backend_gallery_new', {type: 'photos'}) }}">
                {{ 'backend.gallery.create_photos'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
