{% macro galleryWidget(gallery) %}
    {% if gallery|length > 0 %}
        <div class="wrap-gallery">
            <div class="gallery">
                {% for keyYear, year in gallery %}
                    <div class="gallery-year">{{ keyYear }}</div>
                    {% for keyMonth, month in year %}
                        {% if month|length > 0 %}
                            <div class="gallery-month">{{ (month|first).date|localizeddate('long', 'none', null, null, 'LLLL') }}</div>
                            {% for keyDay, g in month %}
                                <div class="gallery-day">
                                    <div class="wrap-gallery-element">
                                        {% if g.getGalleryElementVideo %}
                                            <div class="gallery-element gallery-element-video">
                                                <div class="element">
                                                    <a href="{{ g.getGalleryElementVideo.original }}" data-rel="lightcase:{{ g.id }}">
                                                        <img src="{{ image(g.getGalleryElementVideo.getPreviewImageUrl).cropResize(190, 120) }}" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="date">{{ g.date|localizeddate('long', 'none', null, null, 'd MMMM') }}</div>
                                            </div>
                                        {% endif %}
                                        {% if g.getGalleryElementPhotos|length > 0 %}
                                            <div class="gallery-element gallery-element-photos">
                                                <div class="element">
                                                    <a href="{{ image(g.getGalleryElementPhotos[0].getLink).cropResize(1920) }}" data-rel="lightcase:{{ g.id }}" title="{{ g.getGalleryElementPhotos[0].description }}">
                                                        <img src="{{ image(g.getGalleryElementPhotos[0].getLink).cropResize(190, 120) }}" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="date">{{ g.date|localizeddate('long', 'none', null, null, 'd MMMM') }}</div>
                                            </div>

                                            {% for photo in g.getGalleryElementPhotos|slice(1, g.getGalleryElementPhotos|length) %}
                                                <div class="gallery-element gallery-element-photos">
                                                    <div class="element">
                                                        <a href="{{ image(photo.getLink).cropResize(1920) }}" data-rel="lightcase:{{ g.id }}" title="{{ photo.description }}">
                                                            <img src="{{ image(photo.getLink).cropResize(190, 120) }}" alt=""/>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}