{% macro galleryWidget(gallery) %}
    {% if gallery|length > 0 %}
        <div class="wrap-gallery">
            <div class="gallery">
                {% for keyYear, year in gallery %}
                    <div class="gallery-year">{{ keyYear }}</div>
                    {% for keyMonth, month in year %}
                        <div class="gallery-month">{{ month[keyMonth].date|date('M') }}</div>
                        {% for keyDay, g in month %}
                            <div class="gallery-day">
                                {% if g.getGalleryElementVideo %}
                                    <div class="gallery-element">
                                        <div class="element" style="background: url('{{ image(g.getGalleryElementVideo.getPreviewImageUrl).cropResize(184, 120) }}')"></div>
                                        <div class="date">{{ g.date|date('d M') }}</div>
                                    </div>
                                {% endif %}
                                {% if g.getGalleryElementPhotos|length > 0 %}
                                    <div class="gallery-element">
                                        <div class="element" style="background: url('{{ image(g.getGalleryElementPhotos[0].getLink).cropResize(184, 120) }}')"></div>
                                        <div class="date">{{ g.date|date('d M') }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}